# Backend
OPENAI_SERVICE_KEY=yourOpenAiKey
LOGGING_LEVEL=5
HTTP_PORT=8000
AI_CONCURRENCY_LIMIT=200

# Postgres configuration
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=my_database
POSTGRES_PASSWORD=databaseStrongPassword
POSTGRES_HOST=localhost
DATABASE_URL=postgres://postgres:databaseStrongPassword@db:5432/my_database