a2wsgi==1.10.10
attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
cryptography==46.0.3
curio==1.6
cython==3.1.6
docutils==0.22.2
email_validator==2.3.0
eval_type_backport==0.2.2
fastapi==0.115.0
exceptiongroup==1.3.0
fastapi_cli==0.0.14
filelock==3.20.0
gunicorn==23.0.0
h2==4.3.0
HTMLParser==0.0.2
httpx==0.28.1
hypothesis==6.145.1
ipython==9.6.0
ipywidgets==8.1.8
itsdangerous==2.2.0
Jinja2==3.1.6
jnius==1.1.0
js==1.0
keyring==25.6.0
loop==1.0.0
multipart==1.3.0
openai==1.52.0
orjson==3.11.4
outcome==1.3.0.post0
protobuf==6.33.0
pyodide==0.0.2
pyOpenSSL==25.3.0
pytest==8.4.2
python_multipart==0.0.20
python_socks==2.7.2
pydantic==2.11.5
redis==7.0.1
simplejson==3.20.2
speedups==1.4.0
Sphinx==8.2.3
thread==2.0.5
toml==0.10.2
trio==0.32.0
ujson==5.11.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
Werkzeug==3.1.3
wsproto==1.2.0
xmlrpclib==1.0.1
zstandard==0.25.0
